* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.home,
.programofstudy,
.unklab360,
.contact-us,
.sign-up,
.informatics,
.informationsystem {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.home {
  background-image: url('./images/img-02.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(245, 229, 8);
  font-size: 100px;
}

.programofstudy {
  background-image: url('./images/img-05.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(245, 229, 8);
  font-size: 100px;
}

.contact-us{
  background-image: url('./images/img-06.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(245, 229, 8);
  font-size: 100px;
}

.unklab360 {
  background-image: url('./images/img-07.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: rgb(245, 229, 8);
  font-size: 100px;
}

.sign-up {
  background-image: url('./images/img-03.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(245, 229, 8);
  font-size: 100px;
}

.informatics { 
  background-image: url('./images/img-01.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(245, 229, 8);
  font-size: 100px;
}

.informationsystem {
  background-image: url('./images/img-04.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(245, 229, 8);
  font-size: 100px;
}